* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* DISEÑO */

body {
    background-image: url("../../imagenes/backgroundmobile.png");
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sidebarleft {

}

.sidebarleft img {
    height: 83px;
    width: 100px;
    background-color: #cccccc;
}

.menu a {
    color: rgba(255, 255, 255, 0.089);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.menu a:hover {
    color: #cccccc;
    background: #ffe4e1;   
}

.contacto {
    -webkit-box-shadow: inset 0x 0px 100px 800px rgba(0, 0, 0, 0.527);
    -moz-box-shadow: inset 0px 0px 100px 800px rgba(0,0,0,0.527);
    box-shadow: inset 0px 0px 100px 800px rgba(0,0,0,0.527);
}

.contacto img {
    width: 100%;
}

.contacto h1 {
    border-bottom: solid 1px;
    color: #AFB4B7;
    font-size; 25px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.titulo-contacto li {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: #d7dde0;
}

.subtitulo-contacto li {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #e8f0f4;
}

.subtitulo-contacto li a {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #0000FF;
}

.subtitulo-contacto li a:hover {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #0000FF;
    text-decoration: underline;
    }

fieldset legend p {
    border-bottom: solid 1px;
    color: #AFB4B7;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    }

fieldset p {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    color: #d7dde0;
}

.pie p {
    font-family: 'Sailec', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    -webkit-box-shadow: inset 0x 0px 100px 800px rgba(0, 0, 0, 0.527);
    -moz-box-shadow: inset 0px 0px 100px 800px rgba(0,0,0,0.527);
    box-shadow: inset 0px 0px 100px 800px rgba(0,0,0,0.527)
}

/*POSICIONAMIENTO MOBILE FIRST */

.sidebarleft img{
    visibility: hidden;
}

.sidebarleft li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.contacto {
    padding-bottom: 6px;
}

.contacto img {
    padding: 15px 20px;
}

.contacto h1 {
    padding: 5px 20px 0px 15px;
}

.contacto .titulo-contacto {
    padding-top: 10px;
}

.contacto .subtitulo-contacto {
    padding-top: 2.5px;
    padding-bottom: 5px;
}

.paddingfinal {
    padding-bottom: 0px;
}